logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.DS_Store
project/.DS_Store
db/development.sqlite3
db/migrate
db/seeds.rb
log/development.log
